﻿<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Тестовое задание для Fogsoft'а</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0"
                   asp-controller="Home"
                   asp-action="ReloadCategories">Перезагрузить категории</a>
            </li>
        </ul>
        <form method="get"
              asp-controller="Home"
              asp-action="Home"
              class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2"
                   name="searchVacancyName"
                   type="text"
                   placeholder="Найти"
                   aria-label="Найти">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
    </div>
</nav>