﻿@model IList<Category>

@{
    Layout = "_Layout";
}

<div class="m-3">
    <table class="table table-bordered">
        @foreach (var category in Model
            .Select((categoryModel, categoryIndex) => new {categoryModel, categoryIndex}))
        {
            <tr>
                <td>@category.categoryIndex</td>
                <td colspan="3">
                    <h4><a href="@category.categoryModel.Url" class="text-primary">@category.categoryModel.Title</a></h4>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Home"
                           asp-action="ReloadSubcategories"
                           asp-route-categoryId="@category.categoryModel.Id"
                           class="btn btn-primary">Обновить</a>
                        <a asp-controller="Home"
                           asp-action="DeleteCategory"
                           asp-route-categoryId="@category.categoryModel.Id"
                           class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>

            foreach (var subcategory in category.categoryModel.Subcategories
                .Select((subcategoryModel, subcategoryIndex) => new { subcategoryModel = subcategoryModel, subcategoryIndex = subcategoryIndex }))
            {
                <tr>
                    <td>@subcategory.subcategoryIndex</td>
                    <td colspan="3">
                        <h5><a href="@subcategory.subcategoryModel.Url" 
                               class="text-secondary">@subcategory.subcategoryModel.Title</a></h5>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Home" 
                               asp-action="ReloadVacancies"
                               asp-route-subcategoryId="@subcategory.subcategoryModel.Id"
                               class="btn btn-secondary">Обновить</a>
                            <a asp-controller="Home"
                               asp-action="DeleteSubcategory"
                               asp-route-subcategoryId="@subcategory.subcategoryModel.Id"
                               class="btn btn-danger">Удалить</a>
                        </div>
                    </td>
                </tr>

                if (subcategory.subcategoryModel.Vacancies.Any())
                {
                    <tr class="table-primary">
                        <td>#</td>
                        <td>Название</td>
                        <td>Начальная цена</td>
                        <td>Конечная цена</td>
                    </tr>
                }
                foreach (var vacancy in subcategory.subcategoryModel.Vacancies
                    .Select((model, index) => new {model, index}))
                {
                    <tr>
                        <td>@vacancy.index</td>
                        <td>
                            <a href="@vacancy.model.Url">@vacancy.model.Title</a>
                        </td>
                        <td>@vacancy.model.InitOffer</td>
                        <td>@vacancy.model.FinalOffer</td>
                    </tr>
                }
            }
        }
    </table>
</div>